* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #3B3EE7;
}

.row {
    margin-top: 160px;
}

main .col-5 img {
    width: 80%;
    float: right;
}

main .col-7 .btn-light {
    color: #3B3EE7;
    font-weight: bolder;
}

footer .col-6 p {
    float: right;
    color: #FFF;
}

footer .col-6 a {
    color: #FFF;
    padding-right: 10px;
    font-size: 1.3rem;
}